.postmain{
    display: flex;
    justify-content: center;
}

#chainsaw{
    padding-top: 100px;
}

.containblog {
    width: 1200px;
    display: flex;
    margin-top: 60px;
}

.blocblog{
    width: 500px;
    background-color: #C00051;
}

.blocblog h2{
    color: white;
    font-size: 50px;
    padding: 20px;
}

.imgblog img{
    width: 700px;
    height: 100%;
}

#halloweentext{
    font-size: 40px;
}

p{
    color: black;
    font-family: 'poppins', sans-serif;
    font-size: 18px;
    font-weight: 200;
}

h5{
    color: white;
}

a h5{
   color: #C00051;
}

.articlebox{
    margin-top: 60px;
}

strong{
    font-weight: 300;
    color: #C00051;
}

.space-between-axes {
    height: 100px;
    width: 100%;
}

.containcomms{
    width: 100%;
    display: flex;
    justify-content: center;
}

.profilepicture{
    width: 40px;
    height: 40px;
    border-radius: 100px;
}

.article60{
    width: 80%;
}

.articleboxx{
    box-shadow: rgba(100, 100, 111, 0.3) 0px 7px 29px 0px;
    padding: 20px;
    margin-bottom: 15px;
}

.articlecomm{
    font-size: 14px;
}

h6{
    color: #C00051;
    font-family: 'poppins', sans-serif;
    font-size: 16px;
    font-weight: 200;
    margin: 0;
    display: flex;
    align-items: center;
    margin-left: 15px;
}

#commtitle{
    font-size: 24px;
    margin: 0 0 40px 0;
}

.traitcommbox{
    width: 100%;
    height: 2px;
    display: flex;
    justify-content: center;
    margin: 60px 0 80px 0;
}

.traitcomm{
    height: 100%;
    width: 80%;
    background-color: #C00051;
}

.flexid{
    display: flex;
}

.cinemacarousel {
    background-color: black;
    height: 180px;
    width: 100%;
    box-shadow: rgba(100, 100, 111, 0.3) 0px 7px 29px 0px;
}

.banderole{
    height: 30px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: black;
}

.cinemahole{
    background-color: white;
    height: 10px;
    width: 20px;
}

.imgcinema{
    height: 140px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}


.pelliculeimg img{
    width: 200px;
}

.linktootherarticles{
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
}

.borderlink{
    display: flex;
    align-items: center;
    box-shadow: rgba(100, 100, 111, 0.3) 0px 7px 29px 0px;
}

.borderlink p{
    padding-right: 20px;
}

.borderlink img{
    height: 100%;
    width: 140px;
    margin-right: 20px;
}

footer{
    margin-top: 40px;
}

.borderlink:hover{
    background-color: rgb(233, 233, 233);
    transition: 0.3s;
}






/* Galerie */

.ls_galerie_content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: auto;
}

.ls_galerie_item:hover span {
	display: flex;
}
.ls_galerie_item img {
    height: 140px;
}
.ls_galerie_item p {
	position: absolute;
	bottom: 0px;
	width: 100%;
	padding: 8px;
	background-color: rgba(0,0,0,0.33);
	text-align: center;
}
div[class^="ls_galerie_btn"], div[class^="carouselApercu_btn"] {
	position: absolute;
	top: 0;
	bottom: 0;
	z-index: 1;
	display: flex;
	-ms-flex-align: center;
	align-items: center;
	-ms-flex-pack: center;
	justify-content: center;
	cursor: pointer;
	width: 72px;
	color: #fff;
	text-align: center;
	transition: opacity .15s ease;
}
div[class^="ls_galerie_btn"]:hover span, div[class^="carouselApercu_btn"]:hover span{
	background-color: rgba(0,0,0,.66);
}
div[class^="ls_galerie_btn"] span, div[class^="carouselApercu_btn"] span {
	font-size: 28px;
	border-radius: 50%;
	width: 40px;
	background-color: rgba(0,0,0,.33);
	height: 40px;
	vertical-align: middle;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
}
.ls_galerie_btnPrec, .carouselApercu_btnPrec {
	left: 0px;
} 
.ls_galerie_btnSuiv, .carouselApercu_btnSuiv {
	right: 0px;
}


/* Carrousel APERCU///////////////////////////////*/


.carouselApercu
{
	position: fixed;
	display: none;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,1);
	z-index: 9999;
}

	.carouselApercu .carouselApercu-info {
		position: fixed;
		bottom: 0px;
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 100%;
		padding: 8px;
		background-color: rgba(0,0,0,0.5);
	}


	.carouselApercu .carouselApercu-close {
		position: fixed;
		top: 16px;
		right: 16px;
		z-index: 2;
	}
		.carouselApercu .carouselApercu-close button {
			font-size: 3rem;
			margin: 0px;
			padding: 0px;
			border: 0px;
			width: 40px;
			height: 40px;
			background-color: rgba(0, 0, 0, 0.5);
			border-radius: 50%;
			color: #C00051 !important;
			font-size: 28px;
			vertical-align: middle;
			text-align: center;
			display: flex;
			align-items: center;
			justify-content: center;
		}

.carouselApercu .carouselApercu-Content {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	display: flex;
}

	.carouselApercu .carouselApercu-Content img {
		overflow: auto;
		margin: auto;
	}

	.landscape {
		max-width: 100%;
	}

	.portrait {
		max-height: 100%;
	}

    .carouselApercu_btnPrec span, .carouselApercu_btnSuiv span{
        color: #C00051;
    }

	@media screen and (max-width: 500px) 
	{
		.ls_galerie_content 
		{
			height: 250px;
		}
	}

















@media (min-width: 350px) and (max-width: 850px){

    .ls_galerie_content {
        overflow-x: scroll;
        height: auto;
    }

    #postmain {
        max-width: 100%;
        padding: 40px;
    }


    .articlebox{
        margin-bottom: 60px;
    }

    .linktootherarticles{
        width: 100%;
        height: max-content;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 0;
    }
    
    .maindiv{
        width: 100%;
        background-color: rgb(255, 255, 255);
    }

    .containblog {
        width: 100%;
        height: max-content;
        margin-top: -20px;
        display: block;
    }
    
    .blocblog{
        width: 100%;
        background-color: #C00051;
    }

    .space-between-axes {
        height: 340px;
        width: 100%;
    }
    
    .blocblog h2{
        color: white;
        font-size: 25px;
        padding: 20px;
    }

    .blocblog h5 {
        padding-bottom: 20px;

    }

    .imgblog img{
        width: 100%;
        height: 100%;
    }
    
    #halloweentext{
        font-size: 30px;
    }

    .cinemacarousel {
        background-color: black;
        height: auto;
        width: 100vw;
        margin-top: 40px !important;
        box-shadow: rgba(100, 100, 111, 0.3) 0px 7px 29px 0px;
        position: absolute;
        left: 0;
        right: 0;
    }
    
    .banderole{
        height: 30px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    
    .cinemahole{
        background-color: white;
        height: 10px;
        width: 20px;
    }

    .linktootherarticles{
        margin-top: 40px;
    }
    

  } 







  




  
  @media (min-width: 850px) and (max-width: 1200px){

    #postmain {
        max-width: 100%;
        padding: 40px;
    }

    footer{
        margin-top: 100px;
    }

    .articlebox{
        margin-bottom: 120px;
    }
    
    .maindiv{
        width: 100%;
        background-color: rgb(255, 255, 255);
    }

    .space-between-axes {
        height: 300px;
        width: 100%;
    }

    .containblog {
        width: 100%;
        height: max-content;
        margin-top: -20px;
        display: flex;
    }
    
    .blocblog{
        width: 100%;
        background-color: #C00051;
    }
    
    .blocblog h2{
        color: white;
        font-size: 30px;
        padding: 20px;
    }

    .blocblog h5 {
        padding-bottom: 20px;

    }
    
    .imgblog img{
        width: 100%;
        height: 100%;
    }
    
    .maindiv{
        width: 90%;
        background-color: rgb(255, 255, 255);
        
    }

    .cinemacarousel {
        background-color: black;
        height: 200px;
        width: 100vw;
        margin-top: 20px !important;
        box-shadow: rgba(100, 100, 111, 0.3) 0px 7px 29px 0px;
        position: absolute;
        left: 0;
        right: 0;
    }
    
    .ls_galerie_content {
        overflow-x: scroll;
        height: auto;
    }
    
  }
  
  
  
  